
body {
    font-family: Verdana, serif;
    font-size: 0.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-img {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8%;
}

p {
    color: #00b2a9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-fluid {
    width: 200px;
}

.csc-copy {
    font-size: 1.4em;
}

.copy-rt {
    color: #999;
}