
body {
    font-family: Verdana, serif;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    color: #00b2a9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.sec-img {
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo-img {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
